<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.htlweiz"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:logo="@drawable/icon"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.htlweiz.Splash"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.htlweiz.Depart"
            android:configChanges="orientation"
            android:label="@style/ListFont"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.htlweiz.Depart2"
            android:configChanges="orientation"
            android:label="@string/title_activity_depart2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.htlweiz.Masch"
            android:configChanges="orientation"
            android:label="@string/title_activity_masch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.htlweiz.Wirtschaft"
            android:configChanges="orientation"
            android:label="@string/title_activity_wirtschaft"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.htlweiz.Fufe"
            android:configChanges="orientation"
            android:label="@string/title_activity_fufe"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.htlweiz.Share"
            android:label="@string/title_activity_share" >
        </activity>
        <activity
            android:name="com.example.htlweiz.Imp"
            android:configChanges="orientation"
            android:label="@string/title_activity_imp"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.htlweiz.Contact"
            android:configChanges="orientation"
            android:label="@string/title_activity_contact"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.htlweiz.Times"
            android:configChanges="orientation"
            android:label="@string/title_activity_times"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.htlweiz.Downloads"
            android:configChanges="orientation"
            android:label="@string/title_activity_downloads"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.htlweiz.Teachers"
            android:configChanges="orientation"
            android:label="@string/title_activity_teachers"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.htlweiz.SingleMenuItemActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_single_menu_item"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.htlweiz.ParseJSON"
            android:label="@string/title_activity_parse_json" >
        </activity>
        <activity
            android:name="com.example.htlweiz.News"
            android:label="@string/title_activity_news" >
        </activity>
        <activity
            android:name="com.example.htlweiz.ReadRssFeedTask"
            android:label="@string/title_activity_read_rss_feed_task" >
        </activity>
        <activity
            android:name="com.example.htlweiz.Anzeigen"
            android:label="@string/title_activity_anzeigen" >
        </activity>
        <activity
            android:name="com.example.htlweiz.DisplayNews"
            android:label="@string/title_activity_display_news" >
        </activity>
        <activity
            android:name="com.example.htlweiz.MainActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.htlweiz.ShowDownload"
            android:label="@string/title_activity_show_download" >
        </activity>
    </application>

</manifest>